h1 {
  font-size: 30px;
}

body {
  width: 100%;
  margin: 0;
}

html {
  font-family: "roboto";
}

button {
  cursor: pointer;
}

.location {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: #99E2D0;
  filter: brightness(108%);
}

.icon1 {
  font-size: 20px;
  background-color: #99E2D0;
  border: none;
  margin-left: 55px;
}

.search_bar {
  width: 200px;
  display: flex;
  justify-content: center;
  border: none;
  background-color: #99E2D0;
  font-size: 15px;
  font-weight: bold;
}

.search_bar::placeholder {
  color: black;
}

.choice-card {
  display: flex;
  justify-content: space-between;
  width: 96%;
  border-radius: 25px;
  height: 150px;
  margin-top: 20px;
  box-shadow: 0px 0px 15px #99E2D0;
  position: relative;
  top: 20px;
  cursor: pointer;
  opacity: 0%;
  transition: transform 4000ms;
  animation: menu-appearance 1s forwards;
  overflow: hidden;
}
@keyframes menu-appearance {
  from {
    opacity: 0%;
    transform: translateY(0);
  }
  to {
    opacity: 100%;
    transform: translateY(-20px);
  }
}

.choice-card:nth-child(2) {
  animation-delay: 0.4s;
}

.choice-card:nth-child(3) {
  animation-delay: 0.6s;
}

.choice-card:nth-child(4) {
  animation-delay: 0.8s;
}

.choice-card:nth-child(5) {
  animation-delay: 1s;
}

.price {
  font-size: 35px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  position: absolute;
  left: 100%;
}

.meal_check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 20%;
  height: 100%;
  border-radius: 0 25px 25px 0;
  transform: scaleX(0);
  transform-origin: 100% 0%;
  transition: transform 1000ms;
}
.meal_check span {
  transform: rotate(180deg);
  transition: transform 1000ms;
  display: block;
}

.fa-check {
  color: #99E2D0;
  background-color: white;
  border-radius: 50px;
  width: 35px;
  height: 35px;
  font-size: 20px;
  padding-left: 15px;
  padding-top: 15px;
}

.text-area2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 5%;
  transform-origin: left;
  transform: translateX(0px);
  transition: transform 1000ms;
}
.text-area2:hover span {
  transform: translate(-50px);
}
.text-area2:hover + .meal_check {
  transform: translateX(-50px);
  opacity: 100%;
  transform: scaleX(1.1);
}
.text-area2:hover + .meal_check span {
  transform: rotate(360deg);
}

@media screen and (min-width: 992px) {
  .choice-card {
    height: 75px;
  }
  .text-area2:hover span {
    transform: translate(-30px);
  }
  .price {
    font-size: 20px;
  }
  .meal-check {
    width: 15%;
  }
  .fa-check {
    width: 25px;
    height: 25px;
    font-size: 20px;
    padding-left: 5px;
    padding-top: 5px;
  }
}
footer {
  position: relative;
  top: 50px;
  background-color: #2F4F4F;
  padding-bottom: 30px;
}

.logo-footer {
  width: 30%;
  filter: brightness(2000%);
  position: relative;
  left: 5%;
  top: 20px;
}

ul {
  list-style-type: none;
  position: relative;
  right: 30px;
  top: 10px;
  color: white;
  font-size: 18px;
  margin-left: 10px;
  cursor: pointer;
}

.fa-utensils::before {
  font-size: 10px;
  margin-right: 10px;
  position: relative;
  bottom: 2px;
}

.fa-handshake-angle::before {
  font-size: 10px;
  margin-right: 5px;
  position: relative;
  bottom: 2px;
}

li {
  margin-top: 5px;
  font-size: 15px;
}

.fa-handshake-angle::before {
  font-size: 10px;
}

.fa-utensils:before {
  font-size: 10px;
}

@media screen and (min-width: 992px) {
  footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .logo-footer {
    width: 200px;
    left: -4%;
  }
}
.contact {
  text-decoration: none;
  color: white;
}

.header-main {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 5px;
  box-shadow: 0 5px 0 #99E2D0;
}

.header-other {
  display: flex;
  align-items: center;
}

.logo-header {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.button-arrow {
  font-size: 20px;
  background-color: white;
  border: none;
  cursor: pointer;
  color: black;
  position: relative;
  bottom: 10px;
}

.background-loader {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 0px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeout 0.1s 3s forwards;
}

@keyframes fadeout {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-9999px);
  }
}
.utensils-loader {
  display: flex;
  width: 200px;
  height: 200px;
  border-top: solid #99E2D0 6px;
  border-bottom: solid #9356DC 6px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}

.utensils-loader {
  animation: rotation 3s alternate ease;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.utensils-loader-medium {
  display: flex;
  width: 150px;
  height: 150px;
  border-top: solid #99E2D0 6px;
  border-bottom: solid #9356DC 6px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}

.utensils-loader-medium {
  animation: rotation 2s alternate-reverse ease;
}

.utensils-loader-tiny {
  display: flex;
  width: 100px;
  height: 100px;
  border-top: solid #99E2D0 6px;
  border-bottom: solid #9356DC 6px;
  border-radius: 100px;
}

.utensils-loader-tiny {
  animation: rotation 1.5s alternate-reverse ease;
}

.title_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  background-color: whitesmoke;
}

h1 {
  margin-bottom: 0px;
}

.subtitle_title_area {
  font-size: 15px;
}

.search_font {
  height: 55px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 50px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  font-size: 15px;
  border: none;
  box-shadow: 0 0 5px #FF79DA;
  cursor: pointer;
  font-weight: bold;
  margin: 30px;
  transition: transform 200ms;
}
.search_font:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

.search_text_main {
  font-size: 15px;
}

.notice {
  display: flex;
  flex-direction: column;
}

.title_notice > h2 {
  font-size: 30px;
}

.notice_area {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.notice_stage {
  box-shadow: 0 0 10px gray;
  width: 90%;
  height: 60px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.notice_stage:hover {
  transform: scale(1.02);
  background-color: #f5edff;
}
.notice_stage:hover span {
  color: #9356DC;
}

.number_stage {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  font-size: 15px;
  color: white;
  background-color: #9356DC;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -15px;
}

.logo_stage {
  font-size: 20px;
  color: grey;
}

.text_stage {
  font-size: 15px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
}

.restaurant-list {
  background-color: #99E2D0;
  filter: brightness(110%);
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50px;
}

.title-restaurant {
  font-size: 30px;
}

.restaurant-area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.card-new {
  background-color: #99e2d0;
  border-radius: 5px;
  color: #1f997c;
  position: relative;
  bottom: 150px;
  left: 65%;
  right: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  font-size: 15px;
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  width: 96%;
  background-color: white;
  border-radius: 25px;
  margin-bottom: 25px;
  height: 230px;
  box-shadow: 5px 5px 5px gray;
  transition: all 800ms;
}
.restaurant-card:hover {
  box-shadow: 0px 0px 25px black;
  filter: brightness(1.1);
}

.restaurant-link {
  width: 100%;
  height: 100%;
  color: black;
  text-decoration: none;
}

.restaurant-img {
  width: 100%;
  height: 70%;
}

.img-size {
  display: flex;
  border-radius: 25px 25px 0 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.text-area {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 4.5%;
  width: 90%;
  align-items: center;
  bottom: 5px;
}

h4 {
  margin: 15px 0 0 0;
  font-size: 20px;
  font-weight: bold;
}

.adress {
  margin: 5px 0 0 0;
  font-size: 15px;
}

.fa-heart {
  position: relative;
  top: 10px;
  right: 10px;
  font-size: 20px;
  text-shadow: 0 0 5px black;
  color: white;
  transition: all 800ms;
}
.fa-heart:hover {
  color: #9356DC;
}

@media screen and (min-width: 992px) {
  .search_font {
    width: 25%;
  }
  .title_notice {
    display: flex;
    justify-content: center;
  }
  .notice_area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    height: auto;
  }
  .notice_stage {
    width: 30%;
  }
  .restaurant-title {
    display: flex;
    justify-content: center;
    left: 0px;
  }
  .restaurant-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurant-card {
    width: 45%;
  }
  .card-new {
    left: 80%;
  }
}
.img-area {
  display: block;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.restaurant-img-tall {
  width: 100%;
}

.meat-area {
  display: flex;
  flex-direction: column;
  border-radius: 25px 25px 0 0;
  position: relative;
  bottom: 200px;
  background-color: white;
}

.meat-area-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2.5%;
  padding-right: 5%;
}

h2 {
  font-size: 55px;
}

.heart-big {
  font-size: 50px;
}

.choice-area {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  margin-top: 30px;
}

.choice-title {
  margin-left: 2%;
}

.choice-title-texte {
  font-size: 60px;
}

.title-meat {
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.underline {
  border-bottom: solid 3px #99E2D0;
}

.order_area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-meal {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  font-size: 35px;
}

.order_font {
  width: 40%;
  height: 75px;
  background: linear-gradient(#9356DC, #FF79DA);
  border-radius: 25px;
  color: white;
  border: none;
  box-shadow: 0 0 5px #FF79DA;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  bottom: 120px;
}
.order_font:hover {
  transform: scale(1.05);
}

.search_text {
  font-size: 40px;
}

@media screen and (min-width: 992px) {
  .menu {
    display: flex;
    flex-direction: row;
  }
  .choice-area {
    width: 30%;
  }
  .choice-title-texte {
    font-size: 30px;
  }
  .text-meal {
    font-size: 15px;
  }
  .order_font {
    width: 25%;
  }
  .search_text {
    font-size: 30px;
  }
}

/*# sourceMappingURL=styles.css.map */
