.footer_main {
    position: relative;
    background-color: #2F4F4F;
    padding-bottom: 30px;
}

.footer-other {
    background-color: #2F4F4F;
    padding-bottom: 30px;
    

}


.footer-other-la-note {
    background-color: #2F4F4F;
    padding-bottom: 30px;
    position: relative;
    top: -87px;

}

.logo-footer {
    width: 30%;
    filter: brightness(2000%);
    position: relative;
    left: 5%;
    top: 20px;
}

.logo-footer-other {
    width: 30%;
    filter: brightness(2000%);
    position: relative;
    left: 5%;
    top: 20px;
}

.ul {
    position: relative;
    top: 10px;
    color: white;
    font-size: 18px;
    margin-bottom: 30px;
    cursor: pointer;
    margin-left: 5%;
    margin-top: 25px;
}

.fa-utensils::before {
    font-size: 10px;
    margin-right: 10px;
    position: relative;
    bottom: 2px;
}

.fa-handshake-angle::before {
    font-size: 10px;
    margin-right: 5px;
    position: relative;
    bottom: 2px;
}

.fa-file::before{
    display: none;
}

.fa-envelope::before{
    display: none;
}

.li {
    margin-top: 5px;
    font-size: 15px;
}

.text_footer {
    &:hover {
        border-bottom: solid 1px white;
    }
}

.contact {
    &:hover {
        border-bottom: solid 1px white;
    }
}

.fa-handshake-angle::before {
    font-size: 10px;
}

.fa-utensils:before {
    font-size: 10px;
}

.contact {
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 426px) {
    .footer_main {
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: row;
    }

    .footer-other-la-note {
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        top: 57px;
    }

    .footer-other{
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        top: 126px; 
    }

    .box-logo{
        width: 90%;
    }

    .logo-footer {
        width: 50%;
    }

    .logo-footer-other{
        width: 60%;
    }

    .box-logo-other{
        width:50%;
    }

    .ul{
        position: relative;
        display: flex;
        justify-content: center;
        width: 50%;
        top: 20px;
        left: 0%;
    }

    .box-logo{
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .first-column{
        margin-right: 10%;
    }

    .li{
        font-size: 15px;
    }

    .fa-file::before{
        display: flex;
        margin-right: 5px;
        font-size: 10px;
    }

    .fa-envelope::before{
        display: flex;
        margin-right: 5px;
        font-size: 10px;
    }
}

@media screen and (min-width: 1025px) {
    .footer_main {
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: row;
        bottom: 0px;
    }

    .footer-other {
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        top: -60px;
    }

    .footer-other-la-note {
        top: 47px;
    }

    .box-logo{
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .box-logo-other{
        width:50%; 
    }

    .logo-footer {
        width: 40%;   
    }

    .logo-footer-other{
        width: 40%;
    }

    .ul{
        position: relative;
        display: flex;
        justify-content: center;
        width: 50%;
    }

    .first-column{
        margin-right: 10%;
        display: block;
    }

    .li{
        font-size: 15px;
    }

    .fa-handshake-angle::before {
        font-size: 10px;
    }
    
    .fa-utensils:before {
        font-size: 10px;
    }

    .fa-file::before{
        font-size: 10px;
    }

    .fa-envelope::before{
        font-size: 10px;
    }
}


