footer{
    position: relative;
    top:50px;
    background-color: #2F4F4F;
    padding-bottom: 30px;
}
.logo-footer{
    width: 30%;
    filter: brightness(2000%);
    position: relative;
    left: 5%;
    top: 20px;
}
ul{
    list-style-type: none;
    position: relative;
    right: 30px;
    top: 10px;
    color: white;
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}
.fa-utensils::before{
    font-size: 10px;
    margin-right: 10px;
    position: relative;
    bottom: 2px;
}
.fa-handshake-angle::before{
    font-size: 10px;
    margin-right: 5px;
    position: relative;
    bottom: 2px;
}
li{
    margin-top: 5px;
    font-size: 15px;
}
.text_footer{
    &:hover{
        border-bottom: solid 1px white;
    }
}
.contact{
    &:hover{
        border-bottom: solid 1px white;
    }
}
.fa-handshake-angle::before{
    font-size: 10px;
}
.fa-utensils:before{
    font-size: 10px;
}
@media screen and (min-width: 768px){
    footer{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .footer_main{
        top: 50px;
        display: flex;
        align-items: center;
    } 
    .logo-footer{
        width: 60%;
    }


}
@media screen and (min-width: 992px){
    .footer_main{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        top: -300px;
    }
    footer{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        position: relative;
        top: -70px;
    }
    .logo-footer{
        width:200px;
        left: -4%;
    }
}

   
.contact{
    text-decoration: none;
    color: white;
}