.choice-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    border-radius: 20px;
    height: 60px;
    margin-top: 20px;
    box-shadow: 0px 0px 15px $green;
    position: relative;
    top: 20px;
    cursor: pointer;
    opacity: 0%;
    transition: transform 4000ms;
    animation: menu-appearance 1s forwards;
    overflow: hidden;
    z-index: 2;  
    @keyframes menu-appearance {
        from{
            opacity: 0%;
            transform: translateY(0);
        }
        to{
            opacity: 100%;
            transform: translateY(-20px);
            }
    }
    &:hover{
     span{
        max-width: 75%;
     }
    }
    &:hover + .meal_check{
        opacity: 100%;
        transform: scaleX(1.1);
        width: 20%;
        span{
            transform: rotate(360deg);
        }
    }}
.choice-card{
    animation-delay: calc(2s/5);
}
.choice-card2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    border-radius: 20px;
    height: 60px;
    margin-top: 20px;
    box-shadow: 0px 0px 15px $green;
    position: relative;
    bottom: 40px;
    cursor: pointer;
    opacity: 0%;
    transition: transform 4000ms;
    animation: menu-appearance 1s forwards;
    overflow: hidden;
    z-index: 2; 
    @keyframes menu-appearance {
        from{
            opacity: 0%;
            transform: translateY(0);
        }
        to{
            opacity: 100%;
            transform: translateY(-20px);
            }
    }
    &:hover{
     span{
        max-width: 75%;
     }
    }
    &:hover + .meal_check2{
        opacity: 100%;
        transform: scaleX(1.1);
        width: 20%;
        span{
            transform: rotate(360deg);
        }
    }}
.choice-card2{
    animation-delay: calc(3s/5);
}
.choice-card3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    border-radius: 20px;
    height: 60px;
    margin-top: 20px;
    box-shadow: 0px 0px 15px $green;
    position: relative;
    bottom: 100px;
    cursor: pointer;
    opacity: 0%;
    transition: transform 4000ms;
    animation: menu-appearance 1s forwards;
    overflow: hidden;
    z-index: 2; 
    @keyframes menu-appearance {
        from{
            opacity: 0%;
            transform: translateY(0);
        }
        to{
            opacity: 100%;
            transform: translateY(-20px);
            }
    }
    &:hover{
     span{
        max-width: 75%;
     }
    }
    &:hover + .meal_check3{
        opacity: 100%;
        transform: scaleX(1.1);
        width: 20%;
        span{
            transform: rotate(360deg);
        }
    }}
.choice-card3{
    animation-delay: calc(4s/5);
}
.choice-card4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    border-radius: 20px;
    height: 60px;
    margin-top: 20px;
    box-shadow: 0px 0px 15px $green;
    position: relative;
    bottom: 160px;
    cursor: pointer;
    opacity: 0%;
    transition: transform 4000ms;
    animation: menu-appearance 1s forwards;
    overflow: hidden;
    z-index: 2; 
    @keyframes menu-appearance {
        from{
            opacity: 0%;
            transform: translateY(0);
        }
        to{
            opacity: 100%;
            transform: translateY(-20px);
            }
    }
    &:hover{
     span{
        max-width: 75%;
     }
    }
    &:hover + .meal_check4{
        opacity: 100%;
        transform: scaleX(1.1);
        width: 20%;
        span{
            transform: rotate(360deg);
        }
    }}
.choice-card4{
    animation-delay: calc(5s/5);
}
.price{
   font-size: 15px; 
   display: flex;
   margin-right: 10px;
   align-items: flex-end;
   font-weight: bold;
   justify-content: flex-end;
}
.meal_check{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green;
    width: 0%;
    height:60px;
    border-radius: 0 20px 20px 0;
    position: relative;
    left: 2px;
    transform: scaleX(0);
    transform-origin:  100% 0%;
    transition: transform 500ms;
    z-index:1;
    position: relative;
    left: 76%;
    bottom: 60px;
    span{
        transform: rotate(180deg);
        transition: transform 500ms;
        display: block;
    }}
    .meal_check2{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $green;
        width: 0%;
        height:60px;
        border-radius: 0 20px 20px 0;
        position: relative;
        left: 2px;
        transform: scaleX(0);
        transform-origin:  100% 0%;
        transition: transform 500ms;
        z-index:1;
        position: relative;
        left: 76%;
        bottom: 120px;
        span{
            transform: rotate(180deg);
            transition: transform 500ms;
            display: block;
        }}
    .meal_check3{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $green;
            width: 0%;
            height:60px;
            border-radius: 0 20px 20px 0;
            position: relative;
            left: 2px;
            transform: scaleX(0);
            transform-origin:  100% 0%;
            transition: transform 500ms;
            z-index:1;
            position: relative;
            left: 76%;
            bottom: 180px;
            span{
                transform: rotate(180deg);
                transition: transform 500ms;
                display: block;
            }}
            .meal_check4{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $green;
                width: 0%;
                height:60px;
                border-radius: 0 20px 20px 0;
                position: relative;
                left: 2px;
                transform: scaleX(0);
                transform-origin:  100% 0%;
                transition: transform 500ms;
                z-index:1;
                position: relative;
                left: 76%;
                bottom: 240px;
                span{
                    transform: rotate(180deg);
                    transition: transform 500ms;
                    display: block;
                }}
        .fa-check{
    color: $green;
    background-color: white;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    font-size: 10px;
    padding-left: 5px;
    padding-top: 5px;
}
.text-area2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    transform-origin:  left;
    transition: all 500ms;
}
@media screen and (min-width: 768px){
    .choice-card{
        height: 80px;
    }
    .meal_check{
        height: 80px;
        bottom: 80px;
    }
    .choice-card2{
        height: 80px;
    }
    .meal_check2{
        height: 80px;
        bottom: 140px;
    }
    .choice-card3{
        height: 80px;
    }
    .meal_check3{
        height: 80px;
        bottom: 200px;

    }.choice-card4{
        height: 80px;
    }
    .meal_check4{
        height: 80px;
        bottom: 260px;
    }
    .price{
        font-size: 20px;
    }
    }
    @media screen and (min-width: 992px){
        .price{
            font-size: 15px;
        }
    }