.choice-card {
    @include card-meal; 
    top: 20px;
    animation-delay: calc(2s/5);

    @keyframes menu-appearance {
        from {
            opacity: 0%;
            transform: translateY(0);
        }

        to {
            opacity: 100%;
            transform: translateY(-20px);
        }
    }

    &:hover {
        span {
            width: 75%;
            
        }
    }

    &:hover+.meal_check {
        opacity: 100%;
        transform: scaleX(1.1);
        width: 20%;

        span {
            transform: rotate(360deg);
            opacity: 100%;
        }
    }
}

.choice-card2 {
    @include card-meal;
    bottom: 40px;
    animation-delay: calc(3s/5);

    &:hover {
        span {
            width: 75%;
        }
    }

    &:hover+.meal_check2 {
        opacity: 100%;
        transform: scaleX(1.1);
        width: 20%;

        span {
            transform: rotate(360deg);
            opacity: 100%;
        }
    }
}

.choice-card3 {
    @include card-meal;
    bottom: 100px;
    animation-delay: calc(4s/5);

    &:hover {
        span {
            width: 75%;
        }
    }

    &:hover+.meal_check3 {
        opacity: 100%;
        transform: scaleX(1.1);
        width: 20%;

        span {
            transform: rotate(360deg);
            opacity: 100%;
        }
    }
}

.choice-card4 {
    @include card-meal;
    bottom: 160px;
    animation-delay: calc(5s/5);

    &:hover {
        span {
            max-width: 75%;
        }
    }

    &:hover+.meal_check4 {
        opacity: 100%;
        transform: scaleX(1.1);
        width: 20%;

        span {
            transform: rotate(360deg);
            opacity: 100%;
        }
    }
}

.price {
    font-size: 15px;
    display: flex;
    margin-right: 20px;
    align-items: flex-end;
    font-weight: bold;
    justify-content: flex-end;
}

.meal_check {
    @include meal-check;
    bottom: 60px;

    span {
        transform: rotate(180deg);
        opacity: 0%;
        transition: transform 1000ms;
    }
}

.meal_check2 {
    @include meal-check;
    bottom: 120px;

    span {
        transform: rotate(180deg);
        transition: transform 1000ms;
        opacity: 0%;
    }
}

.meal_check3 {
    @include meal-check;
    bottom: 180px;

    span {
        transform: rotate(180deg);
        transition: transform 1000ms;
        opacity: 0%;
    }
}

.meal_check4 {
    @include meal-check;
    bottom: 240px;

    span {
        transform: rotate(180deg);
        transition: transform 1000ms;
        opacity: 0%;
    }
}

.fa-check {
    color: $green;
    background-color: white;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    font-size: 10px;
    padding-left: 5px;
    padding-top: 5px;
    transition-duration: 1000ms;
}

.text-area2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    transition-duration: 400ms;
}

@media screen and (min-width: 768px) {
    .choice-card {
        height: 80px;
    }

    .meal_check {
        height: 80px;
        bottom: 80px;
    }

    .choice-card2 {
        height: 80px;
    }

    .meal_check2 {
        height: 80px;
        bottom: 140px;
    }

    .choice-card3 {
        height: 80px;
    }

    .meal_check3 {
        height: 80px;
        bottom: 200px;

    }

    .choice-card4 {
        height: 80px;
    }

    .meal_check4 {
        height: 80px;
        bottom: 260px;
    }

    .price {
        font-size: 20px;
    }
}

@media screen and (min-width: 992px) {
    .price {
        font-size: 15px;
    }
}