.choice-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    border-radius: 20px;
    height: 60px;
    margin-top: 20px;
    box-shadow: 0px 0px 15px $green;
    position: relative;
    top: 20px;
    cursor: pointer;
    opacity: 0%;
    transition: transform 4000ms;
    animation: menu-appearance 1s forwards;
    overflow: hidden;  
    @keyframes menu-appearance {
        from{
            opacity: 0%;
            transform: translateY(0);
        }
        to{
            opacity: 100%;
            transform: translateY(-20px);
            }
    }}
.choice-card:nth-child(2){
    animation-delay: calc(2s/5);
}
.choice-card:nth-child(3){
    animation-delay: calc(3s/5);
}
.choice-card:nth-child(4){
    animation-delay: calc(4s/5);
}
.choice-card:nth-child(5){
    animation-delay: calc(5s/5);
}
.price{
   font-size: 15px; 
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   font-weight: bold;
   width: 15%; 
}
.meal_check{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green;
    width: 0%;
    height:100%;
    border-radius: 0 20px 20px 0;
    position: relative;
    left: 2px;
    transform: scaleX(0);
    transform-origin:  100% 0%;
    transition: transform 500ms;
    span{
        transform: rotate(180deg);
        transition: transform 500ms;
        display: block;
    }}
.fa-check{
    color: $green;
    background-color: white;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    font-size: 10px;
    padding-left: 5px;
    padding-top: 5px;
}
.text-area2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    bottom: 5px;
    padding:0px  5%;
    transform-origin:  left;
    transition: all 500ms;
&:hover{
    width: 75%;
}
&:hover + .meal_check{
    opacity: 100%;
    transform: scaleX(1.1);
    width: 15%;
    span{
        transform: rotate(360deg);
    }
}}
@media screen and (min-width: 768px){
    .choice-card{
        height: 80px;
    }}
