.location {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: #99E2D0;
  filter: brightness(105%);
}

.icon1 {
  width: 30px;
  background-color: #99E2D0;
  border: none;
}

.search_bar {
  width: 200px;
  display: flex;
  justify-content: center;
  border: none;
  background-color: #99E2D0;
}

.choice-card {
  display: flex;
  background-color: white;
  width: 96%;
  border-radius: 25px;
  justify-content: space-between;
  height: 75px;
  margin-top: 20px;
  padding-left: 2%;
  box-shadow: 0px 0px 15px #99E2D0;
}

.price {
  position: relative;
  right: 25px;
  font-size: 25px;
}

footer {
  position: relative;
  top: 50px;
  background-color: #2F4F4F;
  height: 160px;
}

.logo-footer {
  width: 20%;
  filter: brightness(2000%);
  position: relative;
  left: 2%;
  top: 20px;
}

ul {
  list-style-type: none;
  position: relative;
  right: 30px;
  top: 10px;
  color: white;
  font-size: 18px;
  margin-left: 10px;
}

.fa-utensils::before {
  font-size: 15px;
  margin-right: 10px;
  position: relative;
  bottom: 2px;
}

.fa-handshake-angle::before {
  font-size: 15px;
  margin-right: 5px;
  position: relative;
  bottom: 2px;
}

li {
  border-top: 20px;
}

.header-main {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 5px;
  box-shadow: 0 5px 0 #99E2D0;
}

.header-other {
  display: flex;
  align-items: center;
}

.logo-header {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.button-arrow {
  font-size: 30px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.title_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  height: 300px;
  background-color: whitesmoke;
}

.search_font {
  width: 50%;
  height: 50px;
  background: linear-gradient(#9356DC, #FF79DA);
  border-radius: 25px;
  color: white;
  font-size: 15px;
  border: none;
  box-shadow: 0 0 5px #FF79DA;
  cursor: pointer;
  font-weight: bold;
  margin-top: 30px;
}

.notice {
  display: flex;
  flex-direction: column;
}

.notice_area {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.notice_stage {
  box-shadow: 0 0 10px gray;
  width: 90%;
  height: 70px;
  border-radius: 25px;
  display: flex;
  align-items: center;
}

.notice_stage:hover {
  transform: scale(1.02);
  background-color: #f5edff;
}

.number_stage {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  font-size: 15px;
  color: white;
  background-color: #9356DC;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -15px;
}

.logo_stage {
  font-size: 20px;
}

.text_stage {
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
}

.restaurant-list {
  background-color: #99E2D0;
  filter: brightness(110%);
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50px;
  align-items: center;
}

.restaurant-title {
  position: relative;
  left: -36%;
}

.restaurant-area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  width: 96%;
  background-color: white;
  border-radius: 25px;
  margin-bottom: 25px;
  height: 250px;
  box-shadow: 5px 5px 5px gray;
}
.restaurant-card:hover {
  box-shadow: 5px 5px 25px black;
  filter: brightness(1.1);
}

.restaurant-link {
  width: 100%;
  height: 100%;
  color: black;
  text-decoration: none;
}

.restaurant-img {
  width: 100%;
  height: 70%;
}

.img-size {
  display: flex;
  border-radius: 25px 25px 0 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.text-area {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 2.5%;
  width: 90%;
  align-items: center;
}

h4 {
  margin: 15px 0 0 0;
  font-size: 25px;
  font-weight: bold;
}

.adress {
  margin: 5px 0 0 0;
  font-size: 20px;
}

.fa-heart {
  font-size: 30px;
  text-shadow: 0 0 5px black;
  color: white;
  transition: all 800ms;
}
.fa-heart:hover {
  color: #9356DC;
}

.img-area {
  display: block;
  width: 100%;
  height: auto;
}

.restaurant-img-tall {
  width: 100%;
}

.meat-area {
  display: flex;
  flex-direction: column;
  border-radius: 25px 25px 0 0;
  position: relative;
  top: -80px;
  background-color: white;
}

.meat-area-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2.5%;
  padding-right: 5%;
}

.choice-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-meat {
  margin-bottom: 0px;
}

.choice-title {
  margin-left: 2%;
}

.underline {
  border-bottom: solid 3px #99E2D0;
}

.order_area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order_font {
  width: 50%;
  height: 50px;
  background: linear-gradient(#9356DC, #FF79DA);
  border-radius: 25px;
  color: white;
  font-size: 15px;
  border: none;
  box-shadow: 0 0 5px #FF79DA;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  top: -15px;
}

/*# sourceMappingURL=styles.css.map */
