.img-area{
    display: block;
    width: 100%;
    height: 500px;
    overflow: hidden;

}
.restaurant-img-tall{
    width: 100%;
}
.meat-area{
    display: flex;
    flex-direction: column;
    border-radius: 25px 25px 0 0 ;
    position: relative;
    bottom: 200px;
    background-color: white;
}
.meat-area-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.5%;
    padding-right: 5%;}
h2{
    font-size: 55px;
}
.heart-big{
    font-size: 50px;
}
.choice-area{
    display: flex;
    flex-direction: column;
    margin-left:2%;
    margin-top: 30px;
}

.choice-title{
    margin-left: 2%;
}
.choice-title-texte{
    font-size:60px;
}
.title-meat{
    margin-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow : ellipsis;
    width:100%;
}

.underline{border-bottom: solid 3px $green;}
.order_area{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-meal{
    overflow: hidden;
    white-space: nowrap;
    text-overflow : ellipsis;
    width: 100%;
    font-size: 35px;
}

.order_font{    
    width:40%;
    height:75px;
    background: linear-gradient($blue,$pink);
    border-radius: 25px;
    color: white;
    font-size: 35px;
    border:none;
    box-shadow: 0 0 5px $pink;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    bottom: 120px;
    &:hover{
        transform: scale(1.05);
    }
}





@media screen and (min-width: 992px){
  .menu{
    display: flex;
    flex-direction: row;
  }
  .choice-area{
    width: 30%;
  }
  .choice-title-texte{
    font-size: 30px;
}
    .text-meal{
        font-size: 15px;
    }
}
