.main-other {
    height: 1400px;
}

.img-area {
    display: block;
    width: 100%;
    overflow: hidden;
    height: 300px;
}

.restaurant-img-tall {
    width: 100%;
}

.menu {
    height: 1000px;
}

.menu4 {
    height: 1000px;
}

.meat-area {
    display: flex;
    flex-direction: column;
    border-radius: 25px 25px 0 0;
    position: relative;
    bottom: 150px;
    background-color: white;
}

.meat-area-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.5%;
    padding-right: 5%;
    font-family: $title_police;
}

h2 {
    font-size: 25px;
}

.heart-big {
    font-size: 25px;
    position: relative;
    top: 0px;
    position: relative;
    bottom: 55px;
    font-size: 25px;
    text-shadow: 0 0 5px black;
    color: white;
    transition: all 800ms;

    &:hover {
        color: $blue;
    }
}

.choice-area {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-top: 30px;
}

.choice-area2 {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-top: 30px;
    position: relative;
    bottom: 180px;
}

.choice-area25 {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-top: 30px;
    position: relative;
    bottom: 220px;
}

.choice-area3 {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-top: 30px;
    position: relative;
    bottom: 360px;
}

.choice-area35 {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-top: 30px;
    position: relative;
    bottom: 380px;
}

.choice-title {
    margin-left: 2%;
}

.choice-title-texte {
    font-size: 20px;
    font-weight: lighter;
}

.title-meat {
    margin-bottom: 0;
    @include suspension;
    width: 100%;
    font-weight: bold;
}

.underline {
    border-bottom: solid 3px $green;
}

.order_area {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 125px;
}

.order_area2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 45px;
}

.text-meal {
    @include suspension;
    width: 90%;
    font-size: 12px;
    margin-left: 10px;
    min-width: 180px;
}

.order_font {
    width: 55%;
    height: 55px;
    background: linear-gradient($pink, $blue);
    border-radius: 25px;
    color: white;
    border: none;
    box-shadow: 0 0 5px $pink;
    cursor: pointer;
    font-weight: bold;

    &:hover {
        transform: scale(1.05);
    }
}

.search_text {
    font-size: 20px;
}

@media screen and (min-width: 426px) {
    .main-other {
        height: 1700px;
    }

    .main-other2 {
        height: 1900px;
    }

    .menu {
        height: 1300px;
    }

    .text-meal {
        font-size: 20px;
        min-width: 400px;
    }

    .order_area {
        bottom: 95px;
    }

    .order_area2 {
        bottom: -360px;
    }
    h2{
        font-size: 35px;
    }
}

@media screen and (min-width: 768px) {
    .body-other {
        height: 1400px;
    }

    .main-other {
        height: 1100px;
    }

    .main-other2 {
        height: 1300px;
    }

    .img-area {
        height: 600px;
        overflow: hidden;
        object-fit: contain;
    }

    h2 {
        font-size: 45px;
    }

    .heart-big {
        font-size: 35px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        height: 700px;
    }

    .menu4 {
        height: 900px;
        display: flex;
        flex-direction: row;
    }

    .choice-area {
        width: 30%;
    }

    .choice-area2 {
        width: 30%;
    }

    .choice-area25 {
        width: 30%;
    }

    .choice-area3 {
        width: 30%;
    }

    .choice-area35 {
        width: 30%;
    }

    .choice-title-texte {
        font-size: 30px;
    }

    .text-meal {
        font-size: 12px;
        min-width: 180px;
    }

    .order_area {
        position: relative;
        bottom: 350px;
    }

    .order_area2 {
        bottom: 400px;
    }

    .order_font {
        width: 25%;
    }

    .search_text {
        font-size: 30px;
    }

    .choice-area {
        bottom: 0;
    }

    .choice-area2 {
        bottom: 0;
    }

    .choice-area25 {
        bottom: 0;
    }

    .choice-area3 {
        bottom: 0;
    }

    .choice-area35 {
        bottom: 0;
    }
}
@media screen and (min-width: 1439px) {
    .text-meal{
        min-width: 250px;
    }
}
